# NOTE: This is a temporary workaround for Sentry compatibility issues.
# Once Sentry releases an update that fixes this issue, this file can be removed.
public-hoist-pattern[]=*require-in-the-middle*
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*@opentelemetry/*
